.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-size: 16px;
    line-height: 1;
    font-family: $font;
    color: $text-color;
    font-weight: 400;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font;
}

.button {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 100rem;
    font-family: $font;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    &-primary {
        font-weight: 700;
        background-color: $primary-color;
        color: white;
    }
    &-outline {
        background-color: transparent;
        color: $primary-color;
        font-weight: 500;
        border: 1px solid $primary-color;
    }
    &-rounded {
        border-radius: 10px;
        padding: 17.5px 78.5px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            background: rgba(245, 56, 56, 0.35);
            filter: blur(20px);
            border-radius: 10px;
            transform: translate(-50%, 50%);
            z-index: -1;
            border-radius: 10px;
            width: 90%;
            height: 100%;
        }
    }
    &-shadow {
        border-radius: 10px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            background: rgba(245, 56, 56, 0.35);
            filter: blur(20px);
            border-radius: inherit;
            transform: translate(-50%, 50%);
            border-radius: 10px;
            width: 90%;
            height: 100%;
            z-index: 1;
        }
    }
}

.boxed {
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .button {
        padding: 13px 26px;
    }
}

//  box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);